<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/certificate.css" />
		<title>E-Certificate</title>
	</head>
	<body>
		<div class="border-pattern">
			<div class="content">
				<div class="inner-content">
					<div class="logo-container">
						<img class="logo left" src="/images/Logo-GOI.jpg">
						<img class="logo right" src="/images/ASI-Logo.jpg">
					</div>
					<h1>The Rock-cut cave Temples in Southern Tamil Nadu</h1>
					<br />
					<h2>Presents</h2>
					<h3>Certificate of Appreciation</h3>
					<strong>This is to Certify that Mr./Smt./Miss./Dr.</strong>
					<p class="name"><%= username %></p>
					<p>
						is awarded for participating in
						<strong>National Online Archaeology Art Exhibition 2023</strong>
					</p>
					<h3>Held From</h3>
					<p><strong>20.11.2023</strong> to <strong>27.11.2023</strong></p>
					<div class="badge"></div>
					<div class="id">sdfjfdsaf</div>
				</div>
			</div>
		</div>

		<div class="canvas-container"></div>
	</body>
</html>
