<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/certificate.css" />
		<title>E-Certificate</title>
	</head>
	<body>
		<div class="border-pattern">
			<div class="content">
				<div class="inner-content">
					<div class="logo-container">
						<img class="logo" src="/images/Logo-GOI.jpg" />
						<img class="logo" src="/images/whpm.png" />
						<img class="logo" src="/images/ASI-Logo.jpg" />
					</div>
					<h1>World Heritage Work Celebration</h1>
					<br />
					<h2>Archaeological Survey of India Government of India Trichy Circle, Trichy</h2>
					<h3>Certificate of Participation</h3>
					<strong>This is to Certify that Mr./Smt./Miss./Dr.</strong>
					<p class="name"><%= username %></p>
					<p>
						from School/College/Institution <strong> <%= institution %></strong> </p>
						<p>participated in National Online Archaeology Art Exhibition 2023 competition during World Heritage Work Celebrations organized by Archaeology Survey of India, Government of India, Trichy Circle, Trichy from 20.11.2023 to 25.11.2023 at Thiagarajar College, Madurai District, Tamil Nadu
					</p>
					<!-- <div class="badge"></div> -->
					<div>
						<div class="signature">
							<div class="flex">
								<span>Place: <strong>Madurai</strong></span>
								<span>Date: <strong></strong></span>
							</div>
							<div class="id">Superintending Archaeologist</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="canvas-container"></div>
	</body>
</html>
