<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Welcome to Archaeology Art Gallery</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div
          class="d-flex pt-3 align-items-center justify-content-center gap-3 margin-top"
        >
          <!-- <img src="" alt=""> -->
          <h2 class="text-center text-light">
            The Rock-cut cave Temples in Southern Tamil Nadu
          </h2>
        </div>
        <p class="text-center text-light">
          Thank you for visiting the Art Gallery 2023. Here is a small quiz
          related to archaeolgoy
        </p>
        <div class="d-flex">
          <a
            href="/quiz"
            class="btn btn-primary btn-lg m-auto justify-content-center lh-lg"
            >Take up Quiz</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
